<!DOCTYPE html>
<html>
  <head>
    <title>Resume</title>
  </head>

  <body>
    <h2>Vijaybaskar.R</h2>
    <h3>Full stack Developer</h3>
    <fieldset>
      <legend><h4>contact info</h4></legend>
      <h4>Address:</h4>
      <h5>
        Tuticorin - Madurai Rd,<br />
        Avaniyapuram, <br />
        Madurai,<br />
        Tamil Nadu 625012.
      </h5>
      <h4>contact no:</h4>
      <a href="tel:9360992440">9360992440</a>
      <h4>email:</h4>
      <a href="mailto:vj2k02@gmail.com">vj2k02@gmail.com</a>
      <h4>links:</h4>
      <a
        href="https://www.linkedin.com/in/vijaya-baskar?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
        >linkedin
      </a>
      <br />
      <a href="https://github.com/Vijayabaskar56">github</a>
    </fieldset>
    <br />
    <fieldset>
      <legend><h4>summary</h4></legend>
      <p>
        Aspiring Software Developer with hands-on experience in PHP, JavaScript
        and React. I have the Strong ability to learn and grasp new technologies
        quickly. I am a committed individual, a fast learner, a team player and
        most importantly a tech-enthusiastic who can adapt himself to the
        changing tech world.
      </p>
    </fieldset>
    <fieldset>
      <legend><h4>Skills</h4></legend>
      <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>React</li>
        <li>Node</li>
        <li>Java</li>
        <li>PHP</li>
        <li>MongoDb</li>
        <li>Git</li>
      </ul>
    </fieldset>
    <fieldset>
      <legend>Languages</legend>
      <ul>
        <li>Tamil</li>
        <li>English</li>
        <li>Telungu</li>
      </ul>
    </fieldset>
    <table>
      <tr class="border-black">
        <th>Courses</th>
        <th>Board/University</th>
        <th>passing year</th>
        <th>percentage</th>
      </tr>
      <tr>
        <td>secondary</td>
        <td>Sourashtra Boys High School, <br />Madurai</td>
        <td>2018</td>
        <td>85.8℅</td>
      </tr>
      <tr>
        <td>Higher secondary</td>
        <td>Sourashtra Boys High School, <br />Madurai</td>
        <td>2020</td>
        <td>75.5%</td>
      </tr>
      <tr>
        <td>B.sc IT</td>
        <td>The Madura College. <br />madurai.</td>
        <td>2023</td>
        <td>99.9%</td>
      </tr>
    </table>
    <fieldset>
      <legend><h4>projects</h4></legend>
      <ul>
        <li>
          Build a Personal Portfolio Site Using React.js Project Basic Moive
          Chat App with Socket.io in HTML, CSS & JS, Node as a Backend.
        </li>
        <li>
          Student Attendance Management System with PHP and MySQL as my Collage
          Final Year
        </li>
        <li>App with React using OMDB API</li>
      </ul>
    </fieldset>
    <fieldset>
      <legend><h4>Achievements</h4></legend>
      <ol>
        <li>
          Won 2nd Prize in a paper presentation on the topic of "BlockChain
          Technologies" at the District level Intercollege meetup "GEN 5 2k22"
          organized by the American College (May 2022)
        </li>
        <li>
          Won 2nd Prize in a paper presentation on the topic of “Artificial
          intelligence” at the District level Intercollege meetup “Tech Vistara
          2022” organized by the Lady Doak Collage (OCT 2022)
        </li>
      </ol>
    </fieldset>
  </body>
</html>
